html,
body,
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #b580d1;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.full-container {
  box-sizing: border-box;
  width: 50%;
  height: auto;
  min-width: 500px;
  padding: 40px;
  box-shadow: 1px 1px 50px 1px #533c5f;
  background-color: #ffffff;
  border-radius: 10px;
}

img {
  float: right;
  width: 150px;
  /* display: block; */
}

h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 15px;
  letter-spacing: 1.2px;
}

p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  margin-bottom: 15px;
  letter-spacing: 1px;
}

.flex-container {
  margin-top: 50px;
  box-sizing: border-box;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
}

.flex-item {
  box-sizing: border-box;
}

@keyframes spin {
  from {
    transform: scale(1.2) rotate(1turn);
  }
}

.flex-container a {
  letter-spacing: 1px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  text-align: center;
  line-height: 26px;
  display: block;
  text-decoration: none;
  color: black;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 1px 1px 10px 1px #533c5f;
  /* transition: transform 900ms; */

  &:hover {
    animation: spin 900ms 1;
    margin: 15px;
    padding: 15px;
  }
}
